numpy==1.16.3
numpydoc==0.9.1
opencv-python==4.1.0.25
Pillow==9.0.0
pygame==1.9.4
PyQt5==5.12.1
PyQt5-sip==4.19.15
PyQtWebEngine==5.12.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
